#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

.github/workflows/*.lock.yml linguist-generated=true merge=ours
